/* elements */
body, select, input, textarea {
	color: #3a261f;
	font-family: "myriad-pro", Helvetica, Arial, sans-serif;
	font-size: 13px;
	background-color: #38231e;
}

* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	// FIXME: Change this to the right path
	*behavior: url(/templates/sfh/resources/boxsizing.htc); // IE7 only
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin: 0 0 1em 0;
}

h1, h3 {
	font-size: 22px;
	background: url('../images/bg_headers.png') top left no-repeat;
	line-height: 38px;
	padding: 0 0 0 50px;
}

.blog h2 {
	margin: 0 0 .5em;
}

.blog p {
	margin: .5em 0 1em;
}

.item-page h3 {
	font-size: 20px;
	line-height: 20px;
	padding: 0;
	margin-bottom: 7px;
	background: none;
}
	
h4 { 
	font-size: 16px;
	margin-bottom: 10px;
}

img {
	max-width: 100%;
	height: auto;

	.ie8 & {
		width: auto;
	}
}

a, a:active, a:visited {
	color: $green;
	text-decoration: none;
}
a:hover {
	color: $green;
	text-decoration: underline;
}

ul {
	color: $green;
	margin: 10px 0 20px;
	padding: 0 0 0 20px;
}

ul ul {margin: 0}

input {
	border-radius: 2px;
	color: #baa7a2;
	border: 1px solid #2b1d18;

	&:focus {
	    outline:none;
	    border-color: $green;
	    box-shadow:0 0 3px $green;
	}
}

select {
	color: #baa7a2;
	border: 1px solid #2b1d18;
}

dt { margin-bottom: 1em;}