.container {
	width: 960px;
	padding: 0 10px;

	#header & {
		padding: 25px 10px 10px;
	}
}

#footer {

	.container {
		background: none; 
	}

	> div {
		padding: 25px 0 0 0;
	}
}

.copyright {
	background: url('../images/bg_copyright.jpg') top center no-repeat;
	padding: 20px 0 10px;
}