/* layout */

body {}

.container {
	width: 100%;
	padding: 0 2.5%;
	margin: 0 auto;
	position: relative;
}

#header { 
	background: url('../images/bg_headerSides.png') top center repeat-x;

	> div {
		background: url('../images/bg_header.jpg') top center no-repeat;
	}

	.container {
		min-height: 140px;
		padding: 25px 2.5% 10px;
		text-align: center;
	}
}

#nav { 
	background: #ffffff url('../images/bg_navRepeat.png') top center repeat-x;
	padding-bottom: 3px;
	position: relative;
	z-index: 5;
}

#mobile-menu {
	max-height: 1170px;
	margin: 0 -2.75%;
	background-color: #bece83;
	overflow: hidden;
	@include transition(max-height .3s ease-in-out);
	position: relative;
	z-index: 1;

	&.menu-close {
		max-height: 0 !important;
		position: relative;
		z-index: -1;
	}
}

#body {
	background-color: #ffffff;
	padding: 5px 0;
}

#content {
	position: relative;
	margin-bottom: 2em;

	.home & {
		margin-top: 20px;
	}
}

#sidebar {
	font-size: 12px;

	.home & {
		margin-top: 20px;
	}
}

#bottom { padding: 45px 0 0 0; }

#footer {
	background: #ffffff url('../images/bg_footerShadow.png') top center no-repeat;
	margin: 0 auto;
	padding-top: 4px;

	> div {
		background: url('../images/bg_footerRepeat.jpg') top center repeat-x;
		padding: 25px 0 0 0;		
	}
}

.copyright {
	background: url('../images/bg_copyright.jpg') top center no-repeat;
	font-size: 10px;
	float: left;
	padding: 20px 0 10px;
	color: #baa7a2;
	width: 100%;

	a {
		color: #baa7a2;

		&:hover {
			color: $green; 
			text-decoration: none;
		}
	}
}