/* @group hmenu */
/* combined menu styles */

.primary {
	a,
	span {
		display: block;
		color: #fff;
		text-shadow: 1px 1px 1px #43520e;
	}
	a:hover,
	.menu span:hover {
		text-decoration: none;
	}
}

.secondary {
	color: #baa7a2;
	font-size: 11px;
	line-height: 12px;
	background: url('../images/bg_footerSwirl.png') bottom right no-repeat;
	padding: 0 0 28px 0;

	.menu {

		li {
			list-style: none;

			li {
				font-size: 12px;
				line-height: 20px;
			}
		}

		> li {
			padding: 0 0 0 24px;
			color: #baa7a2;
			vertical-align: top;

			> a:hover {
				text-decoration: none;
			}

			.ie7 &,
			.ie8 & {
				padding: 0 0 0 15px;
			}
			
			&:first-child {
				padding: 0;
			}

			&.outline ~ li.outline {
				top: 20px;

				~ li.outline {
					top: 40px;

					~ li.outline {
						top: 60px;

						~ li.outline {
							top: 80px;

							~ li.outline {
								top: 100px;

								~ li.outline {
									top: 120px;

									~ li.outline {
										top: 140px;
									}
								}
							}
						}
					}
				}
			}

			&.social {
				width: 27px;
				position: absolute;
				top: 65px;
				right: 70px;
				padding: 0;

				~ li.social {
					right: 105px;

					~ li.social {
						right: 140px;
					}
				}	
			}
		}

		ul {
			width: 100%;
			margin: 5px 0;
			padding: 0;
		}

		a,
		li li a {
			color: #baa7a2;
			font-weight: 300;
		}
	}
}

.moduletable_hmenu {

	> ul {
		margin: 0;
		padding: 0;
		
		> li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			position: relative;
			
			padding: 0 5px;
		}
	}

	&.primary,
	&.smallHeader {
		font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	}

	&.primary {
		font-size: 20px;
		font-weight: 400;
		position: relative;
		z-index: 5;
		.menu {
			> li {
				padding: 0 20px 4px;
				line-height: 50px;
				vertical-align: middle;
				cursor: pointer;
				ul > li:hover {
					background-color: #b4c574
				}
				&:first-child {
					padding: 0 20px 4px 0;
				}
				&:hover {
					background: url('../images/nav_rollover.png') center center no-repeat;
					
					div {
						display: block;
					}
				}
			}

			li {
				&.first div {
					left: -18px;
				}
			}

			div {
				background: url('../images/menu_dropdownTop.png') top center no-repeat;
				display: none;
				position: absolute;
				top: 49px;
				left: 0px;
				z-index: 2;
				
				font-size: 16px;
				width: 224px;
				padding: 6px 0 0 0;

				ul {
					background: url('../images/menu_dropdownBottom.png') bottom center no-repeat;
					position: relative;
					left: 5px;
					width: 214px;
					margin: 0;
					padding: 0 0 11px 0;
					list-style: none;
				}

				li {
					background-color: #bece83;
					line-height: 22px;
					padding: 0 13px;
				}
			}

			li.social {
				position: absolute;
				right: 10px;
				padding: 10px 0 0 10px;
				line-height: 27px;

				&:hover {
					background: none;
				}

				~ li.social {
					right: 45px;

					~ li.social {
						right: 80px;
					}
				}
			}
		}
	}

	&.secondary li > a:hover,
	&.secondary li li a:hover,
	&.slideshowFooter li a:hover,
	&.smallFooter li a:hover { 
		color: $green;
		text-decoration: none;
	}

	&.secondary .menu > li > a,
	&.secondary .menu > li > span,
	&.smallFooter .menu > li > a,
	&.smallFooter .menu > li > span {
		font-size: 14px;
		font-weight: 600;
		text-shadow: 1px 1px 1px #3a251f;
		position: relative;
	}

	&.secondary .menu > li.outline,
	&.moduletable_hmenu.slideshowFooter li {
		font-weight: 300;
		width: 110px;
		position: absolute;
		top: 0;
		right: 175px;
	}

	&.smallHeader,
	&.smallFooter {
		font-size: 14px;
		font-weight: 700;
		white-space: nowrap;
	}

	&.smallHeader {
		background: url('../images/bg_headerMenu.png') left top no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		margin-bottom: 90px;

		ul {
			background: url('../images/bg_headerMenu.png') right -52px no-repeat;
			padding: 0 30px 0px 0px;
			margin: 0 0 0 40px;
			height: 50px;		
		}

		li {
			line-height: 14px;
			margin: 20px 0 0 0;
			padding: 0 10px;
			border-left: 1px solid #422b25;
			color: #422b25;
			
			&:first-child {
				border: 0; padding: 0 10px 0 0;
			}

			a {
				color: #422b25;

				&:hover {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}

	&.smallFooter {
		position: absolute;
		top: 0;
		right: 10px;
		width: 160px;

		li {
			line-height: 12px;
			padding: 0 0 8px;
			display: block;
		}

		a {
			color: #baa7a2;
			font-weight: lighter; 
		}

		.ie7 & {
			top: 3px;
			width: 155px;
		}
	}

	&.slideshowFooter {

		li {
			font-size: 12px;
			padding: 0 0 0 15px; 
			top: 60px;

			~ li {
				top: 80px;

				~ li {
					top: 110px;

					~ li {
						top: 130px;
					}
				}
			}
		}

		a {
			color: #baa7a2;
			font-weight: lighter; 
		}
	}
}

.moduletable_vmenu {

	&.mobile {
		margin: 1em 0;

		.menu {
			margin: 0;
			padding: 0 3%;

			> li,
			> span {
				font-size: 28px;
			}

			li li {
				font-size: 20px;
			}
		}
	}
}

/*IE EXCEPTIONS*/
.ie7 .moduletable_hmenu.secondary .menu > li.outline,
.ie7 .moduletable_hmenu.slideshowFooter li,
.ie8 .moduletable_hmenu.secondary .menu > li.outline,
.ie8 .moduletable_hmenu.slideshowFooter li {right: 170px} 

/* sitemap menu */

ul.sitemap li,
ul.sitemap li.outline a{
	font-size: 14px;
	list-style: none;
	color: #3A261F;
}