.moduletable.logo {
	float: left;
	width: 23.404255319%; //220px
	margin: 10px 0 0;
}

.moduletable.slogan {
	float: left;
	width: 21.875%; //210px
	margin: 25px 0 0 5.208333333%;
}

.moduletable.search {
	float: right;
	display: inline-block;
	*display: inline;
	*zoom: 1;

	margin: 49px 1.041666667% 0 0; 
}

.moduletable.fontResize {
	float: right;
	margin: 57px 1.5625% 0 0;
}

.moduletable.blockModule {
	float: left;
	margin: 0 0 0 1.808510638%;
	width: 32.127659575%;
}