/* @group modules */
.moduletable {}

.moduletable.logo {
	margin-bottom: 10px
}

.moduletable.slogan {
	margin-bottom: 10px;
}

/* font resizer */

.moduletable.fontResize {

	.smaller {
		font-size: 16px;
	}

	.bigger {
		font-size: 20px;
	}
}

.moduletable.fontResize a {
	color: $green;
	font-weight: 700;

	&:hover {
		text-decoration: none;
		color: #fff;
	}
}

/* search bar */

.moduletable.search {
	div {
		background: url('../images/bg_search.png') top left no-repeat;
		position: relative;
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

	input {
		font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
		background: none;
		height: 41px;
		width: 275px;
		padding: 0 43px 0 14px;
		font-size: 16px;
		display: inline-block;
		*display: inline;
		*zoom: 1;
		
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		behavior: url('../templates/theWorkplaceGroup/resources/PIE.htc');
	}

	button {
		background: url('../images/bg_searchButton.png') top center no-repeat;
		position: absolute;
		width: 24px;
		height: 18px;
		right: 10px;
		top: 12px;
		text-indent: -9999px;
		border: 0;

		&:hover {
			background: url('../images/bg_searchButtonRollover.png') top center no-repeat;
		}
	}
}

// menu button

.moduletable.show-menu {
	line-height: 49px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

/* sidebar */

/* login */
 
div.login > form {
	border: 1px solid #ebe9e8;
	background: url('../images/bg_bottomModule.jpg') bottom center no-repeat;
	position: relative;
	padding: 10px 8px;
	width: 100%;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	behavior: url('../templates/theWorkplaceGroup/resources/PIE.htc');
}

fieldset {
	border: none; padding: 0;

	label {
		display: block;
		line-height: 2em;
	}
	
	#form-login-remember {
		position: absolute;
		bottom: 1em;
		right: 1em;

		label {
			display: inline;
			line-height: 1em;
		}
	}

	input {
		height: 2em; 
		line-height: 2em;
	}

	input[type="checkbox"] {
		height: 1em;
		border: none;
		background-color: #FFF;
	}

	input[type="text"],
	input[type="password"] {
		width: 100%;
		max-width: 255px;
	}

	.finder & button.button {
		margin: 0 0 0 .5em;
	}
}

form input.button,
fieldset button.button { margin-top: 1em; }

/* end of login */

#sidebar .moduletable { 
	margin: 2em 0 0 0;

	&:first-child {
		margin: 0;
	}

	p {
		margin: 0;

		&:first-child {
			margin: 0;
		}
	}
}

.moduletable.slideshowSidebarMenu { 
	border-bottom: 1px solid #ebe9e8; 
	
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: block;
		background: url('../images/bg_slideshowSidebarMenu.png') top center no-repeat;
		list-style: none;
		margin-bottom: 15px;
		line-height: 75px;
		padding: 0 15px;
		white-space: nowrap;
		cursor: pointer;

		&:hover {
			background: url('../images/bg_slideshowSidebarMenu_over.png') top center no-repeat;
		}

		a {
			font-size: 20px;
			font-weight: 100;
			color: #fff;
			text-shadow: 1px 1px 1px #43520e;
			text-decoration: none;
		}
	}
}

/* bottom and sidebar modules */
.moduletable.blockModule {
	background: url('../images/bg_bottomModule.jpg') bottom center no-repeat;
	border: 1px solid #ebe9e8;
	font-size: 12px;
	padding: 12px 18px;
	margin-top: 20px;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	behavior: url('../templates/theWorkplaceGroup/resources/PIE.htc');
	position: relative;
	*zoom: 1;

	&.first {
		margin: 0;
	}

	#sidebar & {
		width: 100%;
	}

	&:hover {
		background: url('../images/bg_bottomModuleSpotlight.jpg') bottom center no-repeat;
	}

	h3 {
		background-image: none; /*cancels out default h3 style*/
		padding: 0; /*cancels out default h3 style*/
		line-height: 18px; /*cancels out default h3 style*/
		font-size: 18px;
		margin: 0 0 10px 0;
		color: $green;

		a {
			color: $green;
		}
	}

	p {
		width: 58%;
		margin: 1em 0 0 0;

		&:first-child {
			margin: 0;
		}
	}

	a {
		font-weight: 600;
		color: #3a261f;
	}

	img {
		position: absolute;
		bottom: 0;
		right: 0;
		overflow: visible;
	}

	&.jobs {

		.worker {
			background: url('../images/bg_bottomModuleWorker1.jpg') bottom right no-repeat;
			position: absolute;
			right: 0;
			bottom: 0;
			height: 160px;
			width: 124px;
			overflow: visible;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li {
			padding: 4px 0;
		}
	}
}

/* events mod */

.mod_calendar {

	ul {
		padding: 0;
		list-style: none;
		color: #3A261F;

		li {
			margin-top: 1em;

			&:first-child {
				margin: 0;
			}
		}
	}

	.title a {
		font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
		font-size: 16px;
		font-weight: 700;
		margin: 0;
		color: #3A261F;
	}

	.date {
		font-size: 11px;
		margin: 0 0 .5em 0;
		color: $green;
	}
}