.mod_slideshow {
	margin-top: 2em;

	&.fader {
		
		.slides {
			border: 1px solid #ebe9e8;
			border-radius: 10px;
		}

		.slide {
			background: #fff;
			border-radius: 10px;
			width: 100%;
			height: 265px;
			display: none;

			&.active {
				display: block;
			}

			> div {
				padding: 20px 5% 30px;
			}

			.image {
				display: none;
			}
		}

		.thumb {
			display: none;
		}

		.heading {
			margin: 0 0 -1em 0em;
		}

		ul {
			list-style-image: url(../images/slideshow-bullet.png);
			color: #3a261f;
			padding-left: 30px;
		}
	}
}