/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #b4c574; color:#fff; text-shadow: none; }
::selection { background:#b4c574; color:#fff; text-shadow: none; }

.smaller {font-size: 11px;}
.bigger {font-size: 15px;}

.pretext p {
	font-size: 22px;
	font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin: 0 0 .5em 0 !important;
}
ul.actions {
	display: inline;

	li {
		position: absolute;
		right: .5em;
		top: 1em;
		list-style: none;
	}
}

.button,
.validate  {
	background: url('../images/button.png') top left no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 38px;
	line-height: 38px;
	width: 98px;
	text-align: center;
	border: none;
	color: #ffffff;
	font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 1px #43520e;
	text-decoration: none;

	&:hover {
		background: url('../images/button_over.png') top left no-repeat;
		color: #ffffff;
		text-decoration: none;
	}
}

input.button { height: 38px; }

#finder-filter-select-list li { padding: .5em 0; }
#finder-filter-select-list li select {
	position: absolute;
	left: 25%;
	width: 200px;
	color: #baa7a2;
}

table.category tr {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-bottom: 1em;
	float: left;
	clear: both;
}

td.list-title {
	font-size: 20px;
	float: left;
}

td.list-date {
	float: left;
	clear: left;
}