/* elements */
body, select, input, textarea {
	color: #3a261f;
	font-family: "myriad-pro", Helvetica, Arial, sans-serif;
	font-size: 13px;
	background-color: #3d2a24;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	font-weight: 700;
	margin: 0 0 1em 0;
}

h1, h3 {
	font-size: 22px;
	background: url('../images/bg_headers.png') top left no-repeat;
	line-height: 38px;
	padding: 0 0 0 45px;
}

h4 { font-size: 16px; }

#sidebar p.date,
#bottom p.date {
	font-size: 11px;
	margin: 0 0 .5em 0;
	color: #a3b94f;
}

a, a:active, a:visited {
	color: #a3b94f;
	text-decoration: none;
}
a:hover {
	color: #a3b94f;
	text-decoration: underline;
}

ul {
	color: #a3b94f;
	margin: 10px 0;
	padding: 0 0 0 20px;
}

input {
	border-radius: 2px;
	color: #baa7a2;
	padding: 0px 10px;
	border: 1px solid #2b1d18;
}

dt { margin-bottom: 1em;}