/* layout */

body {}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

#header { background: url('../images/bg_headerSides.png') top center repeat-x; }

#header > div { background: url('../images/bg_header.jpg') top center no-repeat; }

#nav { 
	background: #ffffff url('../images/bg_navRepeat.png') top center repeat-x;
	position: relative;
	z-index: 5;
}

#body {
	background-color: #ffffff;
	padding: 25px 0;
}

#content {
	position: relative;
	float: left;
	width: 620px;
}

#sidebar {
	font-size: 12px;
	float: left;
	width: 299px;
	padding: 0 0 0 19px;
}
.home #sidebar { border-left: 1px solid #ebe9e8; }

#bottom { padding: 45px 0 0 0; }

#footer {
	background: #ffffff url('../images/bg_footerShadow.png') top center no-repeat;
	margin: 0 auto;
	padding-top: 4px;
}

#footer > div {
	background: url('../images/bg_footerRepeat.jpg') top center repeat-x;
	padding: 25px 0 0 0;
}

#footer > div > div {  }

.copyright {
	background: url('../images/bg_copyright.jpg') top center no-repeat;
	font-size: 10px;
	float: left;
	padding: 20px 0 10px;
	color: #baa7a2;
	width: 100%;
}
.copyright a {color: #baa7a2;}
.copyright a:hover { color: #a3b94f; text-decoration: none;}