/* layout */

body {}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

#header { background: url('../images/bg_headerSides.jpg') top center no-repeat; }

#header > div { background: url('../images/bg_header.jpg') top center no-repeat; }

#nav { background: #ffffff url('../images/bg_navRepeat.png') top center repeat-x; }

#body {
	background-color: #ffffff;
	padding: 25px 0;
}

#content {
	float: left;
	width: 620px;
	padding: 0 0 25px 0;
}

#sidebar {
	float: left;
	width: 300px;
	padding: 0 0 0 19px;
	border-left: 1px solid #ebe9e8;
}

#footer {
	background: url('../images/bg_footerRepeat.jpg') top center repeat-x;
	padding: 20px 0 0 0;
}

.copyright {
	background: url('../images/bg_copyright.jpg') top center no-repeat;
	font-size: 10px;
	float: left;
	padding: 15px 0;
	color: #baa7a2;
	width: 100%;
}
.copyright a {float: right; color: #baa7a2;}
.copyright a:hover { color: #a3b94f; text-decoration: none;}