/* @group hmenu */
/* combined menu styles */
.moduletable_hmenu.primary,
.moduletable_hmenu.smallHeader { font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif; }

.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.moduletable_hmenu.secondary li > a:hover,
.moduletable_hmenu.secondary li li a:hover,
.moduletable_hmenu.slideshowFooter li a:hover,
.moduletable_hmenu.smallFooter li a:hover { 
	color: #a3b94f;
	text-decoration: none;
}

/* end of combined menu styles */

.moduletable_hmenu.primary {
	font-size: 20px;
	font-weight: 400;
}

.moduletable_hmenu.primary .menu > li:first-child {padding: 0 20px 4px 0;}
.moduletable_hmenu.primary .menu > li {
	padding: 0 20px 4px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

.moduletable_hmenu.primary .menu div {
	background: url('../images/menu_dropdownTop.png') top center no-repeat;
	position: absolute;
	top: 49px;
	left: 0px;
	z-index: 2;
	
	font-size: 16px;
	display: none;
	width: 224px;
	padding: 6px 0 0 0;
	z-index: 2;
}
.moduletable_hmenu.primary .menu li.first div { left: -18px; }

.moduletable_hmenu.primary .menu div ul {
	background: url('../images/menu_dropdownBottom.png') bottom center no-repeat;
	position: relative;
	left: 5px;
	width: 214px;
	margin: 0;
	padding: 0 0 11px 0;
	list-style: none;
}
.moduletable_hmenu.primary .menu div li {
	background-color: #bece83 ;
	line-height: 22px;
	padding: 0 13px;
}

.moduletable_hmenu.primary .menu > li:hover div {display: block;}

.moduletable_hmenu.primary a,
.moduletable_hmenu.primary span {
	display: block;
	color: #fff;
	text-shadow: 1px 1px 1px #43520e;
}
.moduletable_hmenu.primary .menu > li:hover {
	background: url('../images/nav_rollover.png') center center no-repeat;
}

.moduletable_hmenu.primary .menu > li ul > li:hover {
	background-color: #b4c574
}

.moduletable_hmenu.primary a:hover,
.moduletable_hmenu.primary .menu span:hover {
	text-decoration: none;
}

.moduletable_hmenu.primary li.social {
	position: absolute;
	top: 5px;
	right: 10px;
	padding: 0 0 0 10px;
}
.moduletable_hmenu.primary li.social ~ li.social { right: 45px; }
.moduletable_hmenu.primary li.social ~ li.social ~ li.social { right: 80px; }
.moduletable_hmenu.primary li.social ~ li.social ~ li.social ~ li.social { right: 115px; }
.moduletable_hmenu.primary li.social ~ li.social ~ li.social ~ li.social ~ li.social { right: 150px; }
.moduletable_hmenu.primary li.social ~ li.social ~ li.social ~ li.social ~ li.social ~ li.social{ right: 185px; }
.moduletable_hmenu.primary li.social:hover {background: none;}

/* footer menus */
/* secondary */

.moduletable_hmenu.secondary {
	color: #baa7a2;
	font-size: 11px;
	line-height: 12px;
}

.moduletable_hmenu.secondary .menu li { list-style: none;}

.moduletable_hmenu.secondary .menu > li:first-child {padding: 0;}

.moduletable_hmenu.secondary .menu > li {
	padding: 0 0 0 15px;
	color: #baa7a2;
	vertical-align: top;
}

.moduletable_hmenu.secondary .menu ul {
	width: 100%;
	margin: 5px 0;
	padding: 0;
}

.moduletable_hmenu.secondary li li {
	font-size: 12px;
	line-height: 20px;
}

.moduletable_hmenu.secondary .menu > li > a,
.moduletable_hmenu.secondary .menu > li > span,
.moduletable_hmenu.smallFooter {
	font-size: 14px;
	font-weight: normal;
	text-shadow: 1px 1px 1px #3a251f;
}
.moduletable_hmenu.secondary .menu > li > a:hover {text-decoration: none;}

.moduletable_hmenu.secondary a,
.moduletable_hmenu.secondary li li a {
	color: #baa7a2;
	font-weight: 300;
}

.moduletable_hmenu.secondary .menu > li.outline,
.moduletable_hmenu.slideshowFooter li {
	font-weight: 300;
	width: 160px;
	position: absolute;
	top: 0;
	right: 175px;
}

.moduletable_hmenu.secondary .menu > li.outline ~ li.outline { top: 20px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline { top: 40px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline { top: 60px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline { top: 80px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline { top: 100px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline { top: 120px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline { top: 140px; }

.moduletable_hmenu.secondary .menu > li.social {
	width: 27px;
	position: absolute;
	top: 65px;
	right: 140px;
}

.moduletable_hmenu.secondary .menu > li.social ~ li.social { right: 105px; }
.moduletable_hmenu.secondary .menu > li.social ~ li.social ~ li.social { right: 70px; }
.moduletable_hmenu.secondary .menu > li.social ~ li.social ~ li.social ~ li.social { right: 35px; }
.moduletable_hmenu.secondary .menu > li.social ~ li.social ~ li.social ~ li.social ~ li.social { top: 100px; right: 140px; }
.moduletable_hmenu.secondary .menu > li.social ~ li.social ~ li.social ~ li.social ~ li.social ~ li.social { right: 105px; }
.moduletable_hmenu.secondary .menu > li.social ~ li.social ~ li.social ~ li.social ~ li.social ~ li.social ~ li.social { right: 70px; }

/* Mini Menu */
/* header */
.moduletable_hmenu.smallHeader,
.moduletable_hmenu.smallFooter {
	font-size: 14px;
	font-weight: 700;
	white-space: nowrap;
}

.moduletable_hmenu.smallHeader {
	background: url('../images/bg_headerMenu.png') left top no-repeat;
	float: right;
	position: relative;
	left: 10px;
	width: 353px;
	padding: 0 0 9px 0px;
	margin-bottom: 90px;
}

.moduletable_hmenu.smallHeader ul {
	background: url('../images/bg_headerMenu.png') right -52px no-repeat;
	padding: 0 0 14px 40px;
}

.moduletable_hmenu.smallHeader li:first-child {border: 0; padding: 0 10px 0 0;}
.moduletable_hmenu.smallHeader li {
	line-height: 14px;
	margin: 20px 0 0 0;
	padding: 0 10px;
	border-left: 1px solid #422b25;
}

.moduletable_hmenu.smallHeader li a { color: #422b25; }

/* footer */

.moduletable_hmenu.smallFooter li {
	width: 150px;
	position: absolute;
	top: 0;
	right: 16px;
}

.moduletable_hmenu.smallFooter li {
	padding: 0 0 0 15px; 
}
.moduletable_hmenu.smallFooter a { 
	color: #baa7a2;
	font-weight: lighter; 
}

.moduletable_hmenu.smallFooter li.outline {top: 0px;}
.moduletable_hmenu.smallFooter li.outline ~ li.outline { top: 20px; }
.moduletable_hmenu.smallFooter li.outline ~ li.outline ~ li.outline { top: 40px; }
.moduletable_hmenu.smallFooter li.outline ~ li.outline ~ li.outline ~ li.outline { top: 80px; }

/* SLIDESHOW MENUS */
/* footer */

.moduletable_hmenu.slideshowFooter li {
	font-size: 12px;
	padding: 0 0 0 15px; 
}

.moduletable_hmenu.slideshowFooter a { 
	color: #baa7a2;
	font-weight: lighter; 
}

.moduletable_hmenu.slideshowFooter li { top: 60px; }
.moduletable_hmenu.slideshowFooter li ~ li { top: 80px; }
.moduletable_hmenu.slideshowFooter li ~ li ~ li { top: 100px; }
.moduletable_hmenu.slideshowFooter li ~ li ~ li ~ li { top: 120px; }
