/* @group modules */
.moduletable {}

/* logo */

.moduletable.logo {
	position: absolute;
	top: 30px;
	left: 0px;
}

/* slogan */

.moduletable.slogan {
	position: absolute;
	left: 277px;
	top: 55px;
}

/* search bar */

.moduletable.search div {
	background: url('../images/bg_search.png') top center no-repeat;
	position: absolute;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	bottom: 40px;
	right: 67px;
}

input {
	border-radius: 10px;
	height: 34px;
	color: #baa7a2;
	padding: 0px 10px;
	border: 1px solid #2b1d18;
}

.moduletable.search input {
	font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	background: none;
	height: 39px;
	width: 216px;
	padding: 0 45px 0 12px;
	font-size: 16px;
}

.moduletable.search button {
	background: url('../images/bg_searchButton.png') top center no-repeat;
	position: absolute;
	width: 24px;
	height: 18px;
	right: 10px;
	top: 12px;
	text-indent: -9999px;
	border: 0;
}
.moduletable.search button:hover { background: url('../images/bg_searchButtonRollover.png') top center no-repeat; }

/* sidebar */

#sidebar .moduletable:first-child { margin: 0;}
#sidebar .moduletable { margin: 4em 0 0 0;}

#sidebar .moduletable h4 {
	margin: 0;
}
#sidebar .moduletable p:first-child {margin: 0;}
#sidebar .moduletable p {
	margin: 0; 
}

/* bottom and sidebar modules */

.moduletable.blockModule:first-child {margin-left: 0;}
.moduletable.blockModule {
	float: left;
	position: relative;
	background: url('../images/bg_bottomModule.jpg') bottom center no-repeat;
	border: 1px solid #ebe9e8;
	border-radius: 7px;
	font-size: 12px;
	padding: 12px 20px;
	margin-left: 17px;
	width: 260px;
}

.moduletable.blockModule.spotlight {
	background: url('../images/bg_bottomModuleSpotlight.jpg') bottom center no-repeat;
}

.moduletable.blockModule h3 {
	background-image: none; /*cancels out default h3 style*/
	padding: 0; /*cancels out default h3 style*/
	line-height: 18px; /*cancels out default h3 style*/
	font-size: 18px;
	color: #a3b94f;
	margin: 0 0 10px 0;
}

.moduletable.blockModule p:first-child {margin: 0;}
.moduletable.blockModule p {
	width: 57%;
	margin: 1em 0 0 0; 
}

.moduletable.blockModule a {
	font-weight: 600;
	color: #3a261f;
}

.moduletable.blockModule img {
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: visible;
}