/* @group modules */
.moduletable {}

/* logo */

.moduletable.logo {
	position: absolute;
	top: 30px;
	left: 0px;
}

/* slogan */

.moduletable.slogan {
	position: absolute;
	left: 277px;
	top: 55px;
}

/* font resizer */

.moduletable.fontResize {
	position: absolute;
	bottom: 48px;
	right: 10px;
}
.moduletable.fontResize .smaller { font-size: 16px; }
.moduletable.fontResize .bigger { font-size: 20px; }

.moduletable.fontResize a {
	color: #ffffff;
	font-weight: 700;
}
.moduletable.fontResize a:hover {
	text-decoration: none;
	color: #a3b94f;
}

/* search bar */

.moduletable.search div {
	background: url('../images/bg_search.png') top left no-repeat;
	position: absolute;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	bottom: 40px;
	right: 67px;
}

.moduletable.search input {
	font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	background: none;
	height: 39px;
	line-height: 39px;
	width: 216px;
	padding: 0 43px 0 14px;
	font-size: 16px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url('../templates/theWorkplaceGroup/resources/PIE.htc');
	position: relative;
}

.moduletable.search button {
	background: url('../images/bg_searchButton.png') top center no-repeat;
	position: absolute;
	width: 24px;
	height: 18px;
	right: 10px;
	top: 12px;
	text-indent: -9999px;
	border: 0;
}
.moduletable.search button:hover { background: url('../images/bg_searchButtonRollover.png') top center no-repeat; }

/* sidebar */

/* login */
 
div.login > form {
	border: 1px solid #ebe9e8;
	background: url('../images/bg_bottomModule.jpg') bottom center no-repeat;
	position: relative;
	padding: 10px 8px;
	width: 281px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	behavior: url('../templates/theWorkplaceGroup/resources/PIE.htc');
}

fieldset {border: none; padding: 0;}

fieldset label {
	display: block;
	line-height: 2em;
}

fieldset #form-login-remember {
	position: absolute;
	bottom: 1em;
	right: 1em;
}
fieldset #form-login-remember label { 
	display: inline;
	line-height: 1em;
}

form input.button { margin-top: 1em; }

fieldset button.button { margin-left: 0.5em;}

fieldset input { 
	height: 2em; 
	line-height: 2em; 
}

fieldset input[type="checkbox"] {
	height: 1em;
	border: none;
	background-color: #FFF;
}
fieldset input[type="text"],
fieldset input[type="password"] { 
	width: 255px; 
}

/* end of login */

#sidebar .moduletable:first-child { margin: 0;}
#sidebar .moduletable { margin: 1em 0 0 0;}

#sidebar .moduletable h4 {margin: 0;}
#sidebar .moduletable p:first-child {margin: 0;}
#sidebar .moduletable p {margin: 0;}

.moduletable.slideshowSidebarMenu { border-bottom: 1px solid #ebe9e8; }

.moduletable.slideshowSidebarMenu ul {
	margin: 0;
	padding: 0;
}

.moduletable.slideshowSidebarMenu li {
	display: block;
	background: url('../images/bg_slideshowSidebarMenu.png') top center no-repeat;
	list-style: none;
	margin-bottom: 15px;
	line-height: 75px;
	padding: 0 15px;
	white-space: nowrap;
}

.moduletable.slideshowSidebarMenu li a {
	font-size: 20px;
	font-weight: 100;
	color: #fff;
	text-shadow: 1px 1px 1px #43520e;
}

/* bottom and sidebar modules */

.moduletable.blockModule:first-child {margin: 0;}
.moduletable.blockModule {
	float: left;
	background: url('../images/bg_bottomModule.jpg') bottom center no-repeat;
	border: 1px solid #ebe9e8;
	font-size: 12px;
	padding: 12px 18px;
	margin: 0 0 0 17px;
	width: 27.6595745%;
	
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	behavior: url('../templates/theWorkplaceGroup/resources/PIE.htc');
	position: relative;
	*zoom: 1;
}
#sidebar .moduletable.blockModule { width: 260px;}

.moduletable.blockModule.spotlight {
	background: url('../images/bg_bottomModuleSpotlight.jpg') bottom center no-repeat;
}

.moduletable.blockModule h3 {
	background-image: none; /*cancels out default h3 style*/
	padding: 0; /*cancels out default h3 style*/
	line-height: 18px; /*cancels out default h3 style*/
	font-size: 18px;
	color: #a3b94f;
	margin: 0 0 10px 0;
}

.moduletable.blockModule p:first-child {margin: 0;}
.moduletable.blockModule p {
	width: 57%;
	margin: 1em 0 0 0; 
}

.moduletable.blockModule a {
	font-weight: 600;
	color: #3a261f;
}

.moduletable.blockModule img {
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: visible;
}