/* @group modules */
.moduletable {}

/* logo */

.moduletable.logo {
	position: absolute;
	top: 30px;
	left: 0px;
}

/* search bar */

.moduletable.search {
	position: absolute;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	bottom: 40px;
	right: 180px;
}

.moduletable.search input {height: 30px;}

/* sidebar */

#sidebar .moduletable h4 {
	margin: 0 0 5px 0;
}
#sidebar .moduletable p:first-child {margin: 0;}
#sidebar .moduletable p {
	margin: 5px 0 0 0; 
}

/* bottom modules */

#bottom .moduletable:first-child {margin-left: 0;}
#bottom .moduletable {
	float: left;
	background: url('../images/bg_bottomModule.jpg') bottom center no-repeat;
	border: 1px solid #ebe9e8;
	border-radius: 7px;
	font-size: 12px;
	padding: 15px 20px;
	margin-left: 17px;
	width: 260px;
}
#bottom .moduletable.spotlight {
	background: url('../images/bg_bottomModuleSpotlight.jpg') bottom center no-repeat;
}

#bottom .moduletable h3 {
	background-image: none; /*cancels out default h3 style*/
	padding: 0; /*cancels out default h3 style*/
	line-height: 18px; /*cancels out default h3 style*/
	font-size: 18px;
	color: #a3b94f;
	margin: 0 0 10px 0;
}
#bottom .moduletable p:first-child {margin: 0;}
#bottom .moduletable p {
	width: 57%;
	margin: 5px 0 0 0; 
}

#bottom .moduletable img {
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: visible;
}