.mod_slideshow.fader .thumb {
  display: block;
  background: url(../images/slideshow-tab.png) left top no-repeat;
  padding-left: 15px;
  margin-left: 0;
  -webkit-transition: margin-left 1s linear;
  -moz-transition: margin-left 1s linear;
  -o-transition: margin-left 1s linear;
  -ms-transition: margin-left 1s linear;
  transition: margin-left 1s linear; }
  .mod_slideshow.fader .thumb.active {
    margin-left: -20px; }
    .mod_slideshow.fader .thumb.active > div {
      padding-right: 80px; }
  .mod_slideshow.fader .thumb > div {
    background: url(../images/slideshow-tab.png) right -81px no-repeat;
    margin-right: -4px;
    padding: 0 60px 0 5px;
    -webkit-transition: padding-right 1s linear;
    -moz-transition: padding-right 1s linear;
    -o-transition: padding-right 1s linear;
    -ms-transition: padding-right 1s linear;
    transition: padding-right 1s linear; }
    .mod_slideshow.fader .thumb > div > div {
      display: table;
      width: 100%;
      padding-bottom: 6px; }
