.mod_slideshow {
  margin-top: 2em; }

.mod_slideshow.fader .slides {
  border: 1px solid #ebe9e8;
  border-radius: 10px; }

.mod_slideshow.fader .slide {
  background: #fff;
  border-radius: 10px;
  width: 100%;
  height: 265px;
  display: none; }

.mod_slideshow.fader .slide.active {
  display: block; }

.mod_slideshow.fader .slide > div {
  padding: 30px 240px 30px 365px; }

.mod_slideshow.fader .slide .image {
  position: absolute;
  bottom: 0;
  left: 10px; }

.mod_slideshow.fader .thumb {
  background: url(../images/slideshow-tab.png) left top no-repeat;
  padding-left: 15px;
  margin-left: 0;
  -webkit-transition: margin-left 1s linear;
  -moz-transition: margin-left 1s linear;
  -o-transition: margin-left 1s linear;
  -ms-transition: margin-left 1s linear;
  transition: margin-left 1s linear; }

.mod_slideshow.fader .thumb.active {
  margin-left: -20px; }

.mod_slideshow.fader .thumb > div {
  background: url(../images/slideshow-tab.png) right -81px no-repeat;
  margin-right: -4px;
  padding: 0 60px 0 5px;
  -webkit-transition: padding-right 1s linear;
  -moz-transition: padding-right 1s linear;
  -o-transition: padding-right 1s linear;
  -ms-transition: padding-right 1s linear;
  transition: padding-right 1s linear; }

.mod_slideshow.fader .thumb.active > div {
  padding-right: 80px; }

.mod_slideshow.fader .thumb > div > div {
  display: table;
  width: 100%;
  padding-bottom: 6px; }

.mod_slideshow.fader .thumb .description {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-shadow: -1px 1px 3px #43520e;
  padding-top: 12px;
  height: 63px; }

.mod_slideshow.fader .heading {
  margin: 0 0 -2em -7em; }

.mod_slideshow.fader ul {
  list-style-image: url(../images/slideshow-bullet.png);
  color: #3a261f;
  padding-left: 30px; }
