/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #b4c574; color:#fff; text-shadow: none; }
::selection { background:#b4c574; color:#fff; text-shadow: none; }

.button {
	background: url('../images/button.png') top left no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 38px;
	width: 98px;
	text-align: center;
	border: none;
	color: #ffffff;
	font-family: "myriad-pro-condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-shadow: 1px 1px 1px #43520e;
}
.button a { color: #ffffff; }
.button a:hover {text-decoration: none;}